<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CS353 - Group 20</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
    <!-- <link rel="stylesheet" href="css/style.css" /> -->

  </head>
  <header class="text-center">
    <br>
  	<h1 class="text-secondary">Edit Track</h1>
  	&nbsp;
  </header>
  <body>
    <div>Remove Questions</div>
	   <div>
       <table style="width:100%; border: solid black;">
       <tr>
         <th>Question</th>
         <th>Topic</th>
         <th>Difficulty</th>
         <th>Remove</th>
       </tr>
       </table>
     </div>
     <div>Add Questions</div>
 	   <div>
        <table style="width:100%; border: solid black;">
        <tr>
          <th>Question</th>
          <th>Topic</th>
          <th>Difficulty</th>
          <th>Add</th>
        </tr>
        </table>
      </div>

     <div style="padding: 10px">
       <textarea id="trackName" rows="1" cols="60%" style="border: 3px solid black">
       Track name</textarea>
       <textarea id="trackCatagory" rows="1" cols="60%" style="border: 3px solid black">
       Track Catagory</textarea>
     </div>
	   &nbsp;

     <div class="row justify-content-center">
         <a href="adminSelectTrack.html">
             <button type="button" class="btn btn-primary mt-5"  style="width: 200px">Go back</button>
         </a>
     </div>
     <div class="row justify-content-center">
         <a href="adminHome.html">
             <button type="button" class="btn btn-primary mt-5"  style="width: 200px">Save changes</button>
         </a>
     </div>
  </body>
</html>
