<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search Results</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
    <body>
        <hgroup class="mb20">
             <h1>Search Results</h1>
             <h2 class="lead"><strong class="text-danger">1</strong>
                 result were found for the search for <strong class="text-danger">User</strong></h2>
        </hgroup>
        <div class="container">
    		<div class="search-result row">
    			<div class="col-xs-12 col-sm-12 col-md-4">
    				<ul class="meta-search">
    					<li><i class="glyphicon glyphicon-calendar"></i> <span>User</span></li>
    				</ul>
    			</div>
    			<div class="col-md-4 excerpet">
    				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, </p>
                    <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
    			</div>
                <div class="col-md-4 excerpet">
                    <a href="adminHome.html"><button class="btn btn-primary float-right">Remove User</button></a>
    			</div>
    			<span class="clearfix borda"></span>
    		</div>
        </div>
    </body>
</html>
