{% extends 'layout.html' %}


{% block body %}
    <div class="container">
        <h1 class="text-center mt-7">Company Homepage</h1>
        <div class="row justify-content-center">
            <a href="compSelectTrack.html"><button type="button" class="btn btn-primary mt-5" style="width: 200px">Select Track</button></a>
        </div>
        <div class="row justify-content-center">
            <a href="compCreateTrack.html">
                <button type="button" class="btn btn-primary mt-5"  style="width: 200px">Create Track</button>
            </a>
        </div>
        <div class="row justify-content-center">
            <a href="/">
                <button type="button" class="btn btn-primary mt-5"  style="width: 200px"> Home </button>
            </a>
        </div>
    </div>

{% endblock %}
