<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CS353 - Group 20</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
    <!-- <link rel="stylesheet" href="css/style.css" /> -->

  </head>
  <header class="text-center">
    <br>
  	<h1 class="text-secondary">JOB DESCRIPTION</h1>
  	&nbsp;
  </header>
  <body>
	   <div>
       <textarea id="trackName" rows="10" cols="160%" style="border: 3px solid black">
       description of job....</textarea>
     </div>
     <div class="row justify-content-center">
       <textarea id="trackName" rows="1" cols="120%" style="border: 3px solid black">
       deadline....</textarea>
     </div>


     <div class="row justify-content-center">
         <a href="compHome.html">
             <button type="button" class="btn btn-primary mt-5"  style="width: 200px">Finish</button>
         </a>
     </div>
     <div class="row justify-content-center">
         <a href="compHome.html">
             <button type="button" class="btn btn-primary mt-5"  style="width: 250px">Exit without invitation</button>
         </a>
     </div>
  </body>
</html>
