{% extends 'layout.html' %}


{% block body %}
    <div class="container">
        <h1 class="text-center mt-7">Developer Homepage</h1>
        <div class="row justify-content-center">
            <a href="searchQuestion.html"><button type="button" class="btn btn-primary mt-5" style="width: 200px">Search Question</button></a>
        </div>
        <div class="row justify-content-center">
            <a href="postQuestion.html">
                <button type="button" class="btn btn-primary mt-5"  style="width: 200px">Post Question</button>
            </a>
        </div>
        <div class="row justify-content-center">
            <a href="joinTrack.html">
                <button type="button" class="btn btn-primary mt-5"  style="width: 200px">Join Track</button>
            </a>
        </div>
        <div class="row justify-content-center">
            <a href="acceptInter.html">
                <button type="button" class="btn btn-primary mt-5"  style="width: 200px">Jobs</button>
            </a>
        </div>
    </div>
{% endblock %}
