{% extends 'layout.html' %}

{% block body %}
<h1 class="text-center mt-7">Question Details</h1>
<div class="row justify-content-center mt-5">
    {{question["description"]}}
</div>
<div class="row">
    <div class="col float-right">
        <a href="/discussion/{{id}}">
            <button type="button" class="btn btn-primary mt-5 float-right"  style="width: 200px">Discussion</button>
        </a>
    </div>
    <div class="col justify-content-center">
        <a href="/answerToQuestion/{{id}}">
            <button type="button" class="btn btn-primary mt-5"  style="width: 200px">Solution</button>
        </a>
    </div>
</div>
{% endblock %}
