<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CS353 - Group 20</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css" />

    <!-- import the webpage's javascript file -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js" defer></script>
  </head>
  <header style="text-align: center;">
  	<h1 class="text-secondary">Track Report</h1>
  	&nbsp;
  </header>
  <body>
    <div>
      <table style="width:100%; border: solid black;">
      <tr>
        <th>Question</th>
        <th>Topic</th>
        <th>Score</th>
      </tr>
    </table>
    </div>
    <div style="text-align:right;padding:50px">
    <span class="font-weight-bold mr-1">Total score:  </span> 50.
    </div>

	&nbsp;
  <div class="p-3" style="text-align: center;">
    <a href="devHome.html" class="btn btn-info" role="button">GO TO HOME</a>
  </div>
  </body>
</html>
